* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
}
.cv_link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cv_link:hover {
  background-color: #0056b3;
}
.slider {
  width: 100%;
  height: 80vh;
  aspect-ratio: 16/9;
  background: #000;
  position: relative;
}
.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}
.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h4 {
  color: brown;
}
h1 {
  color: aliceblue;
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}
.slider-content p {
  color: aliceblue;
  font-size: 2rem;
}
.section {
  padding: 100px 0;
}
.boxed {
  max-width: 1280px;
  margin-inline: auto;
}
.flex {
  display: flex;
}
.realisations-section {
  padding: 60px 40px;
  text-align: center;
  background: #f7f7f7;
}

.realisations-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #2d2d2d;
}

/* GRID */
.realisations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* CARDS */
.real-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.real-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* IMAGE */
.real-card img {
  width: 100%;
  height: 720px;
  object-fit: cover;
}

/* TEXT */
.real-content {
  padding: 30px;
}

.real-content h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #2e4f3a;
}

.real-content p {
  font-size: 15px;
  color: #555;
}
.w40 {
  width: 40%;
}
.w60 {
  width: 60%;
}
p {
  font-size: 1.5rem;
  line-height: 1.5em;
}
.Dark {
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../images/ab.jpg);
  background-size: cover;
  background-position-y: 50%;
  color: #fff;
}
.text-center {
  text-align: center;
}
.w25 {
  width: 25%;
}
.w32 {
  width: 32%;
}

.space-between {
  justify-content: space-between;
}
.skill {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}
.skill img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.skill h3 {
  margin-top: 10px;
  color: #000;
}
.gap20 {
  gap: 20px;
}
.realisation h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: max-content;
}
.realisation {
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}
.realisation a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
}
.realisation img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: 4s case;
}
.realisation:hover img {
  filter: brightness(80%);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  padding-block: 10px;
  box-shadow: 1px 1px 25px rgb(0, 0, 0, 0.07);
}
.header_logo {
  display: block;
}
.header_logo img {
  width: 50px;
}
.header_menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.header_menu li a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
}
.header_menu li a:hover {
  background-color: #f2f2f2;
}
.icon {
  display: block;
  font-size: 40px !important;
}
.value {
  display: block;
  font-size: 1.2rem;
}
.label {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 1.5rem;
}
.contact {
  border: 2px dashed #fff;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
}
.header_menu li:last-child a {
  background-color: blueviolet;
  color: #fff;
}
@media (max-width: 810px) {
  header {
  }
  .header_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
  }
  .header_menu li:last-child a {
    margin-top: 10px;
  }
  .slider {
    height: 60vh;
  }
  .slider-content {
    width: 90%;
  }
  .slider-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    flex-wrap: balance;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 34px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    flex-wrap: balance;
  }
  .toColum {
    flex-direction: column;
  }
  .mCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wm100 {
    width: 100% !important;
  }

  .section {
    padding: 50px 0;
  }
  .boxed {
    max-width: 90%;
  }
}
